//This file you will create your style for buttons inside of the project
.btn-cta{
    height: 50px;
    border-radius: 25px;
    padding: 0 45px;
    color:#fff;
    background: linear-gradient(160deg, $secondary 0%, $primary 180%);
}