/* heart css */

.heart{
    position: relative;
    display:flex;
    justify-content:center;
    align-items:end;
    height: 26px;
    width: 26px;
    cursor: pointer;
    z-index: 5;
  &-icon{
    text-align:center;
    position: absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100%;
    width: 100%; 
  }
 &__base{
    font-size:26px;
    line-height:26px;
  }
  &__hover{
    font-size:0px;
    line-height:0px;
    background: linear-gradient(180deg, $color-primary -20%, $color-secondary 120%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .5s;
    &:hover{ // hover effect
      font-size:26px;
      line-height:100%;
    }
  }
}

/* add class heart-bottom to the heart div to change hover effet from center onset to bottom onset -> example on menu4.html */
.heart-bottom{
  & .heart-icon{
    align-items:end;
  }
  & .heart__base{
    bottom:0px;
  }
  & .heart__hover{
    bottom:4px;
    &:hover{
      bottom:0px;
    }
  }
}