/* base css */

*{
    box-sizing: border-box;
}

body{
    position: relative;
    min-height:100vh;
    display:flex;
    flex-flow: column nowrap;
    align-content: space-between;
}

main {
    position: relative;
    overflow: hidden;
    flex-grow:2;
}
